---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Mi blog de Astro aprendizaje";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>